<nav class="navbar navbar-light" style="background-color: #41b0bf; height: 10vh;">
    <div class="container-fluid">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="navbar-brand" href="#"><span style="color: aliceblue; text-align: center;"> </span></a>
            </li>
            <li class="nav-item">
                <a class="navbar-brand" href="/blogs"><span style="color: aliceblue; text-align: center;"> Home</span></a>
            </li>
            <li class="nav-item">
              <a class="navbar-brand" href="/blogs/new"><span style="color: aliceblue; text-align: center;">Add New Blog 📝</span></a>
            </li>
      </div>
  </nav> 