<%- include("./partials/header")%>
<%- include("./partials/navbar")%>
    
      <br>
  <div class="container" style="height: 100vh;">

    <form class="row g-3 mx-5" action="/blogs" method="POST">
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Author Name: </label>
          <input type="text" class="form-control" id="inputEmail4" name="author">
        </div>

        <div class="col-12">
          <label for="inputAddress" class="form-label">Title:</label>
          <input type="text" class="form-control" id="inputAddress" name="title" placeholder="Enter Blog title">
        </div>
        <div class="col-12">
          <label for="inputAddress2" class="form-label">Image Url:</label>
          <input type="text" class="form-control" id="inputAddress2" name="img" placeholder="http://">
        </div>
        <div class="mb-3">
            <label  class="form-label">Write your Blog:</label>
            <textarea class="form-control "  name="content" placeholder="Enter Content" required></textarea>
            </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Post Blog   </button>
        </div>
      </form>
    </div>
    <br>
    <br>
      <%- include("./partials/footer") %> 