
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
.col :hover{
    cursor: pointer;
    
}
.col :hover .card-title{
    cursor: pointer;
    color: #41b0bf;
}
.card-img{
    max-width: 50vw;
    max-height: 50vh;
    margin-left: 25%;
}
.blog-content{
    margin: 1% auto;
    padding: 2%;
    border: 1px solid #d8e8eb;
    box-shadow: 0.5px 0px 1px;
}